#mainInput {
  position: fixed;
  width: 400px;
  height: 100%;
  padding: 10px;
  top: 0px;
  left: 0px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  overflow: scroll;
}
* {
  padding: 30px;
}
