#mainInput {
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 10px;
  top: 0px;
  left: 0px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  overflow: scroll;
  font-size: 16px;
}
#start {
  position: absolute;
  border: 0;
  border-radius: 8px;
  height: 90px;
  width: 200px;
  right: 20px;
}
body {
  overflow: hidden;
  padding: 30px;
}
